<div class="grid-100 row controls">
  <div class="grid-30">
    <!--ok, so this is going to loop over `categories`.
    Each of the single categories will be available as the variable `category` in the loop,
    and the value of the variable `category` in the loop will be the value of the name property of the category.
    So that loops over all the category names in the categories array-->
    <select ng-change="recipesByCategory(chosenCategory)" ng-model="chosenCategory" ng-options="category as category.name for category in categories">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="changeView('/add')">+ Add Recipe</button> <!-- Directive for when user clicks to add a new recipe. -->
    </div>
  </div>
</div>
<div class="clear"></div>
<!--only displays when there are no recipes to display. -->
  <!--truthy! Could also have, for example, "recipes.length > 0"-->
<div ng-hide="recipes[0]" class="grid-100 row">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<!--RECIPES START HERE-->
<!-- Repeats for each recipe to display. Only displays when there are recipes to display. -->
<div ng-click="recipeById()" ng-repeat="recipe in recipes" class="grid-100 row addHover">

  <a href="/#!/edit/{{recipe._id}}"> <!--route the user to the Recipe Detail screen when they click on a row. -->
    <div class="grid-70">
      <p>{{recipe.name}} ({{(recipe.prepTime + recipe.cookTime)}} mins total)</p> <!-- math expression adding the two prep times runs automatically in angular when between ( ).-->
        <!--Binding expressions to display information about the recipe. -->
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
        <!--route the user to the Recipe Detail screen when they click on the edit button. This identical functionality to when they click on a row (see above). -->
          <a href="/#!/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <!-- delete recipe when the user clicks on the 'Delete' link. -->
          <a class="no-action-link" ng-click="deleteRecipe(recipe, $index)"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div> <!--RECIPES END HERE-->
