<div class="grid-100 row controls">
  <div class="grid-50">
    <!-- Display the recipe name when editing a recipe. When adding a recipe, display the static text 'Add New Recipe'.-->
    <h2>{{recipe.name}}</h2> <!--NOTE this shows as an empty binding in html if recipe not present. Unable to remove with !recipe. Is it OK to leave as it is? -->
    <h2 ng-hide="recipe = recipe">Add New Recipe</h2> <!--If recipe does not exist in the scope (is not truthy) then hide add new recipe.-->
  </div>
  <div class="grid-50">
    <div class="flush-right">
      <button ng-click="saveRecipe(recipe)">Save Recipe</button>
      <button ng-click="changeView2('/')" class="secondary">Cancel</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Name </label>
    </p>
  </div>
  <div class="grid-40">
    <p>
      <input ng-model="recipe.name" type="text">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>
  <div class="grid-60">
    <p>
      <textarea ng-model="recipe.description" ></textarea> <!-- directive for recipe model's `description` property. -->
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Category </label>
    </p>
  </div>
  <div class="grid-30">
    <p>
      <!--populate the list with the categories from the database. -->
      <select ng-model="recipe.category" ng-options="category.name as category.name for category in categories">
        <!-- 'category as category.name for category in categories'This is the way I had it that didn't work.-->
        <option value="">All Categories</option>
      </select>
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Prep Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <input ng-model="recipe.prepTime"  type="number"> <!-- directive for recipe model's `prepTime` property. -->
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Cook Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <input ng-model="recipe.cookTime" type="number"> <!-- directive for recipe model's `cookTime` property. -->
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Ingredients </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Item </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Condition </label>
    </p>
  </div>
  <div class="grid-15">
    <p class="label-spacing">
      <label> Amount </label>
    </p>
  </div>
    <!--ng-repeat directive that repeats for each ingredient, 'repeat for each ingredients object in the recipe object'.-->
  <div ng-repeat="ingredient in recipe.ingredients" class="ingredient-row">
    <div class="prefix-20 grid-30">
      <p>
        <!--populate the list with the food items from the database. -->
        <select ng-model="ingredient.foodItem" ng-options="foodItem.name as foodItem.name for foodItem in fooditems">
          <option value="">Select Item</option>
        </select>
      </p>
    </div>
    <div class="grid-30">
      <p>
          <!--ingredient condition  accessible by calling the 'ingredient' created in the ng-repeat directive above-->
        <input ng-model="ingredient.condition" type="text">
      </p>
    </div>
    <div class="grid-15">
      <p>
        <input ng-model="ingredient.amount" type="text">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <!--delete the recipe ingredient when the user clicks on the 'Delete' link. -->
        <a class="no-action-link" ng-click="deleteIngredient(recipe.ingredients, $index)"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
     <!--fires the addStep method which adds an additional step-->
      <button ng-click="addIngredient()">+ Add Another Ingredient</button>
    </p>
  </div>

</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Steps </label>
    </p>
  </div>
  <div class="grid-75">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>

  <!--ng-repeat directive that repeats for each recipe step, 'repeat for each steps object in the recipe object'.-->
  <div ng-repeat="step in recipe.steps" class="step-row">
    <div class="prefix-20 grid-75">
      <p>
        <!--descriptions accessible by calling the 'step' created in the ng-repeat directive above-->
        <input ng-model="step.description" type="text">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <!--delete the recipe ingredient when the user clicks on the 'Delete' link. -->
        <a class="no-action-link" ng-click="deleteStep(recipe.steps, $index)"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
     <!--fires the addStep method which adds an additional step-->
     <button ng-click="addStep()">+ Add Another Step</button>
    </p>
  </div>

</div>
<div class="clear"></div>
