<div class="grid-100 row controls">
  <div class="grid-50">
    <!-- TODO Add a binding expression to display the recipe name
      when editing a recipe. When adding a recipe, display the
      static text 'Add New Recipe'.

    CM this needs to be an if else in the controller?-->
    <h2>{{recipe.name}}</h2>
  </div>
  <div class="grid-50">
    <div class="flush-right">
      <!-- TODO Add directives to both the "Save Recipe" and "Cancel"
        buttons in order to handle user clicks. -->
      <button>Save Recipe</button>
      <button ng-click="changeView2('/')" class="secondary">Cancel</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Name </label>
    </p>
  </div>
  <div class="grid-40">
    <p>
      <!-- TODO Add a directive to this input element to bind its value
        to the recipe model's `name` property. -->

      <input ng-model="recipe.name" type="text">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>
  <div class="grid-60">
    <p>
      <textarea ng-model="recipe.description" ></textarea> <!-- directive for recipe model's `description` property. -->
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Category </label>
    </p>
  </div>
  <div class="grid-30">
    <p>
      <!-- TODO Add directives to this select element to bind its value
        to the recipe model's `category` property and to populate the list
        with the categories from the database. -->
      <select>
        <option value="">All Categories</option>
      </select>
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Prep Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <input ng-model="recipe.prepTime"  type="number"> <!-- directive for recipe model's `prepTime` property. -->
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Cook Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <input ng-model="recipe.cookTime" type="number"> <!-- directive for recipe model's `cookTime` property. -->
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Ingredients </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Item </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Condition </label>
    </p>
  </div>
  <div class="grid-15">
    <p class="label-spacing">
      <label> Amount </label>
    </p>
  </div>
    <!--ng-repeat directive that repeats for each ingredient, 'repeat for each ingredients object in the recipe object'.-->
  <div ng-repeat="ingredient in recipe.ingredients" class="ingredient-row">
    <div class="prefix-20 grid-30">
      <p>
        <!-- TODO Add directives to this select element to bind its value
          to the recipe ingredient model's `foodItem` property and to
          populate the list with the food items from the database. -->
        <select ng-model="ingredient.foodItem">
          <option value="">Select Item</option>
        </select>
      </p>
    </div>
    <div class="grid-30">
      <p>
          <!--ingredient condition  accessible by calling the 'ingredient' created in the ng-repeat directive above-->
        <input ng-model="ingredient.condition" type="text">
      </p>
    </div>
    <div class="grid-15">
      <p>
        <input ng-model="ingredient.amount" type="text">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <!-- TODO Add a directive to this anchor element so that you can
          delete the recipe ingredient when the user clicks on the 'Delete' link. -->
        <a class="no-action-link"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
      <!-- TODO Add a directive to this button in order to handle
        when the user clicks to add a new recipe ingredient. -->
      <button>+ Add Another Ingredient</button>
    </p>
  </div>

</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Steps </label>
    </p>
  </div>
  <div class="grid-75">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>

  <!--ng-repeat directive that repeats for each recipe step, 'repeat for each steps object in the recipe object'.-->
  <div ng-repeat="step in recipe.steps" class="step-row">
    <div class="prefix-20 grid-75">
      <p>
        <!--descriptions accessible by calling the 'step' created in the ng-repeat directive above-->
        <input ng-model="step.description" type="text">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <!-- TODO Add a directive to this anchor element so that you can
          delete the recipe step when the user clicks on the 'Delete' link. -->
        <a class="no-action-link"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
     <!-- TODO Add a directive to this button in order to handle
       when the user clicks to add a new recipe step. -->
     <button>+ Add Another Step</button>
    </p>
  </div>

</div>
<div class="clear"></div>
